@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
}

body #phone-container {
  position: relative;
  width: 320px;
  height: 570px;
  background-color: #FFF;
  margin: 50px auto;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.25);
}

#nav {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s ease;
}
#nav #close {
  position: absolute;
  top: 25px;
  right: 0;
  transform: translateY(-25px);
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
#nav #close .bar {
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #FFF;
  transition: all 0.5s ease;
}
#nav #close .bar:first-of-type {
  top: 42%;
}
#nav #close .bar:last-of-type {
  top: 57%;
}
#nav #nav-items {
  visibility: hidden;
  padding-top: 50px;
  transition: all 0.5s ease;
}
#nav #nav-items ul {
  list-style: none;
  margin: 0 2rem;
}
#nav #nav-items ul li {
  opacity: 0;
  font-size: 1.2rem;
  padding: 0.75rem 0;
}
#nav #nav-items ul li:not(:last-of-type) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
#nav #nav-items ul li:nth-child(1) {
  transition: opacity 0.5s ease;
  transition-delay: 0.1s;
}
#nav #nav-items ul li:nth-child(2) {
  transition: opacity 0.5s ease;
  transition-delay: 0.2s;
}
#nav #nav-items ul li:nth-child(3) {
  transition: opacity 0.5s ease;
  transition-delay: 0.3s;
}
#nav #nav-items ul li:nth-child(4) {
  transition: opacity 0.5s ease;
  transition-delay: 0.4s;
}
#nav #nav-items ul li:nth-child(5) {
  transition: opacity 0.5s ease;
  transition-delay: 0.5s;
}
#nav #nav-items ul li:nth-child(6) {
  transition: opacity 0.5s ease;
  transition-delay: 0.6s;
}
#nav #nav-items ul li:nth-child(7) {
  transition: opacity 0.5s ease;
  transition-delay: 0.7s;
}
#nav #nav-items ul li:nth-child(8) {
  transition: opacity 0.5s ease;
  transition-delay: 0.8s;
}
#nav #nav-items ul li:nth-child(9) {
  transition: opacity 0.5s ease;
  transition-delay: 0.9s;
}
#nav #nav-items ul li:nth-child(10) {
  transition: opacity 0.5s ease;
  transition-delay: 1s;
}
#nav.active {
  background-color: #232323;
  height: 100%;
}
#nav.active #close .bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#nav.active #close .bar:first-of-type {
  transform: rotate(225deg);
}
#nav.active #close .bar:last-of-type {
  transform: rotate(-225deg);
}
#nav.active #nav-items {
  visibility: visible;
}
#nav.active #nav-items ul li {
  opacity: 1;
}