@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body #phone-container {
  position: relative;
  width: 320px;
  height: 570px;
  background-color: #FFF;
  margin: 50px auto;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.25);
}

#nav {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s ease;
}
#nav #close {
  position: absolute;
  top: 25px;
  right: 0;
  transform: translateY(-25px);
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
#nav #close .bar {
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #FFF;
  transition: all 0.5s ease;
}
#nav #close .bar:first-of-type {
  top: 42%;
}
#nav #close .bar:last-of-type {
  top: 57%;
}
#nav #nav-items {
  visibility: hidden;
  padding-top: 50px;
  transition: all 0.5s ease;
}
#nav #nav-items ul {
  list-style: none;
  margin: 0 2rem;
}
#nav #nav-items ul li {
  opacity: 0;
  font-size: 1.2rem;
  padding: 0.75rem 0;
}
#nav #nav-items ul li:not(:last-of-type) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
#nav #nav-items ul li:nth-child(1) {
  transition: opacity 0.5s ease;
  transition-delay: 0.1s;
}
#nav #nav-items ul li:nth-child(2) {
  transition: opacity 0.5s ease;
  transition-delay: 0.2s;
}
#nav #nav-items ul li:nth-child(3) {
  transition: opacity 0.5s ease;
  transition-delay: 0.3s;
}
#nav #nav-items ul li:nth-child(4) {
  transition: opacity 0.5s ease;
  transition-delay: 0.4s;
}
#nav #nav-items ul li:nth-child(5) {
  transition: opacity 0.5s ease;
  transition-delay: 0.5s;
}
#nav #nav-items ul li:nth-child(6) {
  transition: opacity 0.5s ease;
  transition-delay: 0.6s;
}
#nav #nav-items ul li:nth-child(7) {
  transition: opacity 0.5s ease;
  transition-delay: 0.7s;
}
#nav #nav-items ul li:nth-child(8) {
  transition: opacity 0.5s ease;
  transition-delay: 0.8s;
}
#nav #nav-items ul li:nth-child(9) {
  transition: opacity 0.5s ease;
  transition-delay: 0.9s;
}
#nav #nav-items ul li:nth-child(10) {
  transition: opacity 0.5s ease;
  transition-delay: 1s;
}
#nav.active {
  background-color: #232323;
  height: 100%;
}
#nav.active #close .bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#nav.active #close .bar:first-of-type {
  transform: rotate(225deg);
}
#nav.active #close .bar:last-of-type {
  transform: rotate(-225deg);
}
#nav.active #nav-items {
  visibility: visible;
}
#nav.active #nav-items ul li {
  opacity: 1;
}

::-webkit-scrollbar {
display: none;
}
header {
position: relative;
background-color: black;
height: 100vh;
min-height: 25rem;
width: 100%;
overflow: hidden;

}

header video {
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: 0;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}

header .container {
position: relative;
z-index: 2;
}

header .overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: 0.5;
z-index: 1;
}

.header .navbar-default {
background-color:transparent !important;
border-color:transparent;
background-image:none;
box-shadow:none;	
}


.navContainer {
text-align: center;
justify-content: center;
}



button {
transition: all .5s ease;
color: #fff;
border: 3px solid white;
font-family:'Montserrat', sans-serif;
text-transform: uppercase;
text-align: center;
line-height: 1;
font-size: 17px;
background-color : transparent;
padding: 10px;
outline: none;
border-radius: 4px;
}
button:hover {
color: #001F3F;
background-color: #fff;
}

.aboutUs {
text-align: center;
color: black;
}

.historyContainer {
text-align: left; padding-bottom: 20px; padding-left: 200px; padding-right: 200px;
}

.ouHistory {
text-align: right; padding-bottom: 20px; padding-left: 200px; padding-right: 200px;

}

.philanthropy {
text-align: left; padding-bottom: 20px; padding-left: 200px; padding-right: 200px;


}

.asianAwareness {
text-align: Center; padding-bottom: 20px; padding-left: 200px; padding-right: 200px;

}

.graduatingBrothers {
text-align: Right; padding-bottom: 20px; padding-left: 200px; padding-right: 200px;
}

.imgContainer img {
max-width: 1110px;
width: 100%;
height: 100%;
object-fit: contain;
padding-top: 50px;
padding-bottom: 50px;
}


/* 2xl */
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {}

/* md */
@media (max-width: 768px) {
.historyContainer {
padding-left: 50px;
padding-right: 50px;
}
.ouHistory {
padding-left: 50px;
padding-right: 50px;
}

.philanthropy {
padding-left: 50px;
padding-right: 50px;
}
.asianAwareness {
padding-left: 50px;
padding-right: 50px;
}

}

/* sm */
@media (max-width: 640px) {}

/* xs */
@media (max-width: 475px) {}

.ground{
min-height: 100vh;
font-size: 40px;
display: flex;
align-items: center;
justify-content: center;
}

footer{
background: #faf5f5;
padding: 20px 0;
}

.footer_container{
max-width: 1300px;
margin: auto;
padding: 0 20px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap-reverse;
}

.logo{
width: 180px;
font-size: 16px;
font-weight: bold;
}

.social_media{
margin: 20px 150px;
}

.social_media a{
color: #000;
font-size: 24px;
text-decoration: none;
transition: .6s;
}

.social_media a:hover{
color: gold;
}

li {
list-style-type: none;
}